<!-- templates/start_page.html -->
{% extends "_base2.html" %}

{% load static %}
{% block content %}

<div class="grid w-full grid-cols-1 space-y-2 m-2">       
  <div class="border border-gray-300 rounded-2xl shadow-sm h-screen bg-gray-50 overflow-y-auto">
    <div class="flex flex-col space-y-10 px-20 py-20 text-gray-700">
        <div class="flex text-3xl text-blue-800 space-x-4">
          <img src="{% static 'images/arrow-left.png' %}" alt="Back" class="h-full">
          <a href="{% url 'startPage' %}" class="flex items-center"><!-- TODO Need to back from the previous page. Currently, redirecting to start page  -->
            
              Back
          </a>
        </div>
        <div class="text-5xl text-gray-800">
          About
        </div>
        <div class="text-xl text-justify">
          Factify, your trusted ally in navigating the complex world of news and information. We understand the importance of reliable, unbiased news in today's interconnected society, and we are committed to empowering you to make informed decisions.
        </div>
        <div class="text-xl text-justify">
          At Factify, our mission is simple: to foster a more informed and discerning public by helping you distinguish between credible news and misinformation. We believe that access to accurate information is a cornerstone of a healthy and thriving society.
        </div>
    </div>
    <div class="flex flex-col mx-auto my-auto items-center space-y-6 text-2xl">
      Meet the Factify team
      <div class="flex space-x-56">
        <div class="flex flex-col items-center gap-2 mt-6">
          <img src="{% static 'images/profile1.png' %}" alt="Developer 1" width="200px" class="rounded-full">
          <span class="text-xl"><strong>Developer</strong></span>
          <span class="text-xl">Abner Dominic B. Belotindos</span>
        </div>
        <div class="flex flex-col items-center gap-2 mt-6">
          <img src="{% static 'images/profile2.png' %}" alt="Developer 2" width="200px" class="rounded-full">
          <span class="text-xl"><strong>Developer</strong></span>
          <span class="text-xl">John Andrei A. Manalo</span>
        </div>
        <div class="flex flex-col items-center gap-2 mt-6">
          <img src="{% static 'images/profile3.jpg' %}" alt="Developer 3" width="200px" class="rounded-full">
          <span class="text-xl"><strong>Developer</strong></span>
          <span class="text-xl">Lendon N. Ato</span>
        </div>
      </div>
    </div>
    
    <div class="w-full mx-auto o mt-52 sticky bottom-0 ">
      <div class="flex justify-between">
          <a href="{% url 'index' %}" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse ml-4">
              <img src="{% static 'images/logo.png' %}" alt="Facfity">
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Facfity</span>
          </a>
          <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400 ">© {{ year }}  <a href="{% url 'index' %}" class="hover:underline">Facfity</a>. All Rights Reserved.</span>
          <ul class="flex flex-wrap items-center text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400 mr-4">
              <li class="me-4 md:me-6">
                  Find us:
              </li>
              <li>
                  <a href="#" class="hover:underline me-4 md:me-6">
                    <img src="{% static 'images/social media/facebook.png' %}" alt="facebook">
                  </a>
              </li>
              <li>
                  <a href="#" class="hover:underline me-4 md:me-6">
                    <img src="{% static 'images/social media/instagram.png' %}" alt="instagram">
                  </a>
              </li>
              <li>
                  <a href="#" class="hover:underline me-4 md:me-6">
                    <img src="{% static 'images/social media/twitter.png' %}" alt="twitter">
                  </a>
              </li>
              <li>
                  <a href="#" class="hover:underline me-4 md:me-6"">
                    <img src="{% static 'images/social media/linked.png' %}" alt="linked">
                  </a>
              </li>
          </ul>
      </div>
      
  </div>
  </div>
</div>


{% endblock content %}


{% block footer %}.
    
{% endblock footer %}