@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .title, h1, h3{
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }
}